
:root{
    --color-principal: #B7CBE0;
    --color-secundario:#D0AACC;
    --color-background: #FFFFF9;
    --color-transparent: transparent;

    --color-icon: #e6caca;
    --color-title: black;
    --color-subtitle: #587273;
    
}
/*Estilos Generales*/
html{
    font-size: 80%;
}
body{
    width: 100%;
    height: auto;
    font-family: "Poppins";
    font-size: 1.5rem;
    background-color: var(--color-background);
   overflow: hidden;
   
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-title);
}
/*Estructura Principal */

.layout{
    position: relative;
    min-width: 1290px;
    width: 70%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh;

    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 40% 60%;

    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
  
}

.layout_aside{
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
    
}
.aside_user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    min-width: 30rem;

    background-color: var(--color-secundario);
    color: #f8f8f8;
}

.user-info_container-img{
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 3rem;
    z-index: 1;
    
}



.user-img{
    width: 100%;
    border: 4px solid white;
    border-radius: 50rem;
}

.user-info_container-img::after{
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #ffffff, #fff 1px , transparent 0px, transparent 100% );
    background-size: 0.6rem 0.6rem;

    border-radius: 30rem;

}

.user-info_name{
    font-size: 3.2rem;
    color: var(--color-background);
    margin-top: 2.6rem;

}

.user-info_job{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color-background);
    margin-top: 2.6rem;

}


.user-info_links{
    margin-bottom: 3.6rem;
}

.user-links_socal{
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

.social_option{
    height: 3rem;
    
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}

.social_option:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.25);

}

.user-info_buttons{
    margin-top: 1rem ;
    margin-bottom: 4rem;
}

.user-info_btn{
    padding: 2rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid var(--color-background);
    border-radius: 3.2rem ;
    box-shadow:  0 10px 10px -4px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}

.user-info_btn:hover{
    background-color: var(--color-background);
    color: var(--color-secundario);
}

.user-info_footer{
    position: absolute;
    bottom: 2rem;
    font-size: 1rem;
}

.layout_content{
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--color-secundario);
    border-radius: 0 10rem 10rem 0;
}

.conten_page{
    
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 3.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_name{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.page_job{
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--color-subtitle);
}


/**/
.user-info_menu{
    display: block;
    position: absolute;
    top: 0;
    right: -150px;
    min-width: 11rem;
    background-color: var(--color-transparent); 
}

.list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundario);
    width: 55%;
    min-height: 32rem;
    padding: 2rem 0;
    margin-left: 2.5rem;
    box-shadow:  0 0 3rem -0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 5rem ;
}

.menu_opt{
    display: block;
    width: 100%;
    text-align: center;
}



.menu_icon{
    color: white;
    font-size: 2.8rem ;
    transition: all 300ms ease-in-out;
}

.menu_opt:hover .menu_icon {
    color: var(--color-principal);
}

.menu_overlay{
    position: absolute;
    right: 0;
    margin-top: -3rem;
    opacity: 0;
    display: block;
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    background-color: var(--color-secundario);
    white-space: nowrap ;
    transition: all 300ms ease-in-out;


}

.menu_opt:hover .menu_overlay{
    opacity: 1;
    right: 100%;
    background-color: var(--color-principal);
    
}

/* Estilos generañes (aboutme y otras)*/

.content_about,
.content_resume,
.content_portfolio{
    display: block;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    padding: 6rem;
    padding-right: 3rem;

}


.about_header,
.resume_header,
.portfolio_header{
    display: inline-block;
    margin-bottom: 4.5rem;
}

.about_title,
.resume_title,
.portfolio_title{
    font-size: 3.2rem;
    position: relative;
}

.about_title::after,
.resume_title::after,
.portfolio_title::after{
    content: "";
    position: absolute;
    top: 29px;
    right: -29px;
    width: 50px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-background),var(--color-background) 1px, transparent 0px,transparent 100% );
    background-size: 6px 6px;
    
}

.title_color{
    color: var(--color-background);
}

/*Informacion personal*/

.about_personal-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;
}

.personal-info_bio{
    flex-basis: 50%;
}

.personal-info_description{
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.personal-info_data{
    flex-basis: 40%;
    padding: 0 1.5rem;
}

.personal-info_option{
    margin-bottom: 1rem;
}

.personal-info_title{
    margin-right: 0.5rem;
    color: var(--color-background);
    font-weight: 600;
}

.about_services{
    width: 100%;
    margin-bottom: 3rem;
}
.services_header{
    display:inline-block;
    padding-right: 1.2rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.services_title{
    font-size: 2.1rem;
    
    
}

.services_title::after{
    content: "";
    position: absolute;
    top: 15px;
    width: 30px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-background),var(--color-background) 1px, transparent 0px,transparent 100% );
    background-size: 6px 6px;
    opacity: 0.5;
}

.services_container{
    width: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services_service{
    flex-basis:calc(50% - 3rem);
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}

.service_real-icon{

    color: var(--color-background);
    font-size:2rem;
}

.services_title{
    font-size: 1.8rem;
    margin: 0.5rem 1;
}


.service_description{
    font-size: 1.6rem;
    text-align: justify;
}

.resume_subheader{
    display: inline-block;
    padding-right: 1.2rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.resume_subtitle{
    font-size: 2.1rem;
}

.resume_subtitle::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 0px;
    width: 30px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center,  var(--color-background),var(--color-background) 1px, transparent 0px,transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

/*CURRICULUM*/

.resume_container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.resume_left{
    flex-basis: 58%;
    margin-right: 1.5rem;
}

.resume_timeline{
    margin-bottom: 5rem;
}

.timelines_item{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;

}

.timeline_header{
    flex-basis: 30%;
    text-align: right;
    padding-right: 2.5rem;
}

.timeline_year{
    margin: 0.3rem 0;
    line-height: 1.9rem;
    font-size: 1.4rem;
}

.timeline_company{
    display: block;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #587273;
}
.timeline_description{
    width: 70%;
    padding-left: 1rem;
    padding-right: 1.5rem;
}
.timeline_title{
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}

.timeline_text{
    padding-left: 1rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;

}

.timeline_divider{
    position: absolute;
    top: 0%;
    left: 30%;
    bottom: -18px;
    width: 1px;
    background-color: #587273;
}
.timeline_divider::before{
    content: "";
    position: absolute;
    margin-top: 0.4rem;
    margin-left: -0.8rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--color-secundario);
    border-radius: 1rem;
    opacity: 0.25;
}
.timeline_divider::after{
    content: "";
    position: absolute;
    margin-top: 0.8rem;
    margin-left: -0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--color-principal);
    border-radius: 1rem;
    border: 2px solid var(--color-secundario) ;
    opacity: 1;
}


/*CV derecha*/
.resume_right{
    flex-basis: 41%;
    padding:  0 1.5rem;
}

.resume_skills{
    width: 100%;
    margin-bottom: 3rem;
}

.skills_title{
    display: flex;
    justify-content: space-between;
}

.skills_text{
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
}

.skills_numer{
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
    color: var(--color-subtitle);
}

.skills_percent{
    height: 0.8rem;
    background-color: var(--color-secundario);
    border: 2px solid var(--color-principal);
    border-radius: 1rem;
}

.skills_progressbar{
  height: 1rem;
  border: 1px solid var(--color-secundario);
  border-radius: 1rem;
  background-color: var(--color-principal) ;
  margin-bottom: 2rem;
}

.p1{
    width: 90%;
}
.p2{
    width: 80%;
}
.p3{
    width: 90%;
}
.p4{
    width: 90%;
}
.p5{
    width: 70%;
}
.p6{
    width: 80%;
}
.p7{
    width: 40%;
}

.certificates_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.certificates_certificate {
    width: 80%; /* Ajusta el ancho del certificado según tus necesidades */
    margin: 30px;
    border: 1px solid var(--color-background);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column; /* Alinea el contenido en columna */
}

.certificate_logo {
    height: auto;
    margin: 5px; /* Ajusta la altura del logo según tus necesidades */
    background-color: #B7CBE0;
    display: flex;
    align-items: center; /* Alinea el contenido verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

.certificate_image {
    width: 100%;
    height: auto;
    display: block; /* Asegura que la imagen se ajuste correctamente */
}

.certificates_content {
    padding: 1.5rem;
    flex: 1; /* Asegura que el contenido ocupe el espacio restante */
}

.certificate_title{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: #2E2E32;
}

.certificate_date{
    font-size: 1rem;
    color: #587273;
}